.hero {
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover !important;
  height: 80vh;
  margin: -20% -20% 0 -10%;
}

.title {
  margin: 4rem;
}

.title h1 {
  font-size: 3rem;
  text-align: center;
}

.options {
  align-items: center;
  justify-content: flex-end;
  margin: 0.5rem;
}

.options h4 {
  margin: 0;
}

.latest {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.2rem;
  padding-bottom: 0.5rem;
}

.latest h5 {
  font-weight: 500 !important;
}

.content {
  min-height: calc(100vh - 141px);
}

.header {
  background: black !important;
}

.noRecords {
  font-weight: 400 !important;
  text-align: center;
  padding-top: 2rem;
}

@media (max-width: 600px) {
  .content {
    padding: 0 !important;
  }
  .hero {
    background-position: center !important;
  }
}
