.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.showMore {
  margin-top: 0px !important;
}

.app {
  display: flex;
  overflow: hidden;
}

.launchCard {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardImage {
  max-height: 200px;
  min-height: 200px;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1000px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
